* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: white;
    padding: 5px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding-top: 30px;
}

h1 {
    text-align: center;
}

.pixel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark {
    background-color: black;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 4px 4px 15px 3px lightgrey;

}